{% extends 'base.html' %}

{% block content %}

<div class="job-search-tips">
    <h2>10 советов по поиску работы в интернете</h2>
    <ol>
        <li>
            <strong>Обновляйте профиль на профессиональных платформах:</strong>
            <p>Поддерживайте актуальность данных о себе на LinkedIn, Indeed и других сайтах, чтобы работодатели видели вас.</p>
        </li>
        <li>
            <strong>Используйте ключевые слова в резюме:</strong>
            <p>Включайте ключевые навыки и фразы из объявлений о вакансиях, чтобы ваше резюме попадало в поисковые запросы.</p>
        </li>
        <li>
            <strong>Подпишитесь на уведомления о вакансиях:</strong>
            <p>Подпишитесь на рассылки или уведомления от сайтов поиска работы, чтобы быть в курсе свежих вакансий.</p>
        </li>
        <li>
            <strong>Изучите информацию о компании:</strong>
            <p>Перед отправкой заявки изучите информацию о компании, чтобы подготовиться к собеседованию и показать заинтересованность.</p>
        </li>
        <li>
            <strong>Создайте профиль на специализированных ресурсах:</strong>
            <p>Подумайте о создании профиля на сайтах, специализирующихся на вашей отрасли или сфере деятельности.</p>
        </li>
        <li>
            <strong>Создайте собственный сайт или портфолио:</strong>
            <p>Если возможно, создайте онлайн-портфолио или сайт, демонстрирующий ваши навыки и профессиональные достижения.</p>
        </li>
        <li>
            <strong>Сетевой маркетинг и связи:</strong>
            <p>Возможно, у ваших контактов есть информация о доступных вакансиях или они могут порекомендовать вас работодателям.</p>
        </li>
        <li>
            <strong>Будьте активны в профессиональных сообществах:</strong>
            <p>Участвуйте в обсуждениях, делитесь своим опытом, это может привлечь внимание потенциальных работодателей.</p>
        </li>
        <li>
            <strong>Следите за новыми тенденциями и требованиями рынка труда:</strong>
            <p>Будьте в курсе изменений в вашей отрасли, чтобы адаптироваться к новым требованиям.</p>
        </li>
        <li>
            <strong>Не забывайте о личном бренде:</strong>
            <p>Создайте сильный и узнаваемый личный бренд в сети, это поможет привлечь внимание работодателей.</p>
        </li>
    </ol>
</div>


{% endblock %}